*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}
hr{
    border: none;
    height: 2px;
    background-color: rgba(254,80,0,.9); /* Cambia el color a naranja */
    margin: 20px 0; 
}
p{
    text-align: justify;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container-header {
    display: flex;
}  

.column {
    flex: 1;
    padding: 5px;
}

.image-column {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-size{
    width: 25%;
    height: auto;
}
  
.menu-column {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.menu-column ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    display: flex;
}
  
.menu-column ul li {
    margin: 0 5px;
}
  
.menu-column ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.menu-column ul li :hover{
    text-decoration: none;
    color: rgba(254,80,0,.9);
    padding: 10px;
}
  
.button-column {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.orange-button {
    background-color: rgba(254,80,0,.9);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
  
.orange-button:hover {
    background-color: darkorange;
}
.container-body {
    display: flex;
}  
