*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}
hr{
    border: none;
    height: 2px;
    background-color: rgba(254,80,0,.9); /* Cambia el color a naranja */
    margin: 20px 0; 
}
/*
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.8);
}
.navbar li{
    float: left;
    border-right: 1px solid #bbb;
}
.navbar li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navbar li a:hover{
    background-color: #2c2c2c;
    color: #e50914;
}
*/
.container-header {
    display: flex;
}  

.column {
    flex: 1;
    padding: 5px;
}

.image-column {
    text-align: center;
}

.image-size{
    width: 25%;
    height: auto;
}
  
.menu-column {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.menu-column ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    display: flex;
}
  
.menu-column ul li {
    margin: 0 5px;
}
  
.menu-column ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.menu-column ul li :hover{
    text-decoration: none;
    color: rgba(254,80,0,.9);
    padding: 10px;
}
  
.button-column {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.orange-button {
    background-color: rgba(254,80,0,.9);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
  
.orange-button:hover {
    background-color: darkorange;
}

