*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}
hr{
    border: none;
    height: 2px;
    background-color: rgba(254,80,0,.9); /* Cambia el color a naranja */
    margin: 20px 0; 
}
p{
    text-align: justify;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container-header {
    display: flex;
}  

.column {
    flex: 1;
    padding: 5px;
}

.image-column {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-size{
    width: 25%;
    height: auto;
}
  
.menu-column {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.menu-column ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    display: flex;
}
  
.menu-column ul li {
    margin: 0 5px;
}
  
.menu-column ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.menu-column ul li :hover{
    text-decoration: none;
    background-color: rgba(254,80,0,.9);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
  
.button-column {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.orange-button {
    background-color: rgba(254,80,0,.9);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
  
.orange-button:hover {
    background-color: darkorange;
}

.container-body {
    display: flex;
}

.footer {
    text-align: center;
    margin-top: auto;
    padding: 5px;
    display: flex;
    background-color: #ebebeb;
}
.container-icono{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconos img{
    background-color: rgba(254,80,0,.9);
    border-radius: 50px;
    padding: 5px;
    margin: 5px;
    width: 30px;
    height: 30px;
}
.copyright p{
    text-align: center;
}
.opcion{
    padding: 8px;
}
.container-option{
    display: flex;
    padding: 10px;
}
.image-description{
    display: flex;
}
.producto-image{
    height: 100px;
    width: 100px;
}
.column-product{
    flex: 0.3;
    padding: 5px;
}
.producto-image{
    width: 150px;
    height: auto;
}
.opcion-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.opcion h2{
    padding: 0 10px;
}
.opcion p{
    padding: 0 10px;
    font-size: 16px;
}
.image-query{
    width: 90%;
    height: auto;
}

.column-icon{
    display: none; 
}
@media(max-width:1200px){
    p{
        text-align: justify;
        font-size: 10px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    h2{
        font-size: 15px;
    }
    h3{
        font-size: 15px;
    }
    .menu-column ul li a{
        font-size: 12px;
    }
    .image-size{
        width: 50%;
        height: auto;
    }
    .image-query{
        width: 80%;
        height: auto;
    }
    .iconos img {
        width: 15px;
        height: 15px;
        padding: 3px;
    }
    .orange-button{
        font-size: 12px;
    }
    .opcion p{
        font-size: 10px;
    }
}
@media(max-width:600px){
    body{
        background-color: yellowgreen;
    }
    p{
        padding: 0 40px;
    }
    .column-icon{
        display: block; 
    }
    .container-body{
        display: block;        
    }
    .image-query{
        width: 50%;
        height: auto;
    }
    .image-size{
        width: 80%;
        height: auto;
    }
    html, body {
        overflow-x: hidden;
    }
    .footer{
        display: inline;
    }
    .menu-column ul{
        display: block;
    }
}